<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>drug</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/styles/paramedic.css" rel="stylesheet">
</head>
<body>
    {% include 'nav.html' %}
    <div class="container">
        <div class="form-inline" style="margin: 20px">
            <div class="input-group" style="width: 100%">
                <input type="text" class="form-control" name="name" id="pname">
                <span class="input-group-btn" onclick="search({{ type }})">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>

    </div>
    <ul class="list-group" id="itemslist">
        <li class="list-group-item noitem">No result now</li>
    </ul>

    <script src="/static/js/medical.js"></script>
    <script src="/static/bower_components/jquery/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>