<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hospital</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/styles/paramedic.css" rel="stylesheet">
    <style>
        .checkbox {
            font-weight: bold;
        }
    </style>
</head>
<body>
{% include 'nav.html' %}
<div class="container">
    <p style="height: 5px"></p>
    <div class="form-inline" style="margin: 20px">
        <div class="input-group" style="width: 100%">
            <input type="text" class="form-control" name="keyword" placeholder="keyword" id="keyword">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" onclick="search_hospital()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
        </div>
    </div>
    <form class="form-horizontal">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="x_ray">X-ray
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="pace_maker">Pacemaker
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="wait">No Wait
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="rank1">Ranked by equipment
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="rank2">Ranked by size
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="rank3">Ranked by distance
            </label>
        </div>
        <p></p>
    </form>
    <p style="height: 30px"></p>
     <ul class="list-group" id="itemslist">
        <li class="list-group-item noitem">No result now</li>
{#        <li class="list-group-item"><span class="badge">map</span>aa</li> #}
    </ul>
</div>



<script src="/static/js/hospital.js"></script>
<script src="/static/bower_components/jquery/jquery.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>