<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/styles/paramedic.css" rel="stylesheet">
</head>
<body>
{% include 'nav.html' %}
<div class="container">
    <div class="row" style="margin: 30px 20px">
        <div class="well col-xs-12">
            <blockquote>
                <p>Aspirin, also known as acetylsalicylic acid (ASA), is a medication used to
                    treat pain, fever, and inflammation. Specific inflammatory
                    conditions in which it is used include Kawasaki disease, pericarditis,
                    and rheumatic fever. Aspirin given shortly after a heart attack decreases
                    the risk of death. Aspirin is also used long-term to help prevent heart attacks,
                    strokes, and blood clots in people at high risk.</p>
            </blockquote>
        </div>
    </div>
</div>
<script src="/static/bower_components/jquery/jquery.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>