<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InfoDetail</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/styles/paramedic.css" rel="stylesheet">
</head>
<body>
    {% include 'nav.html' %}

    <div class="container">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">
                    {{ data.name }}
                </h4>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">
                    <img src="/static/images/default_admin_icon.png">
                </h4>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">
                    ID: {{ data.pid }}
                </h4>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Relative Contacts</h4>
                <p class="list-group-item-text">{{data.contacts}}</p>
                <p class="list-group-item-text">{{data.contacts2}}</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Medical History</h4>
                <p class="list-group-item-text">{{data.medical1}}</p>
                <p class="list-group-item-text">{{data.medical2}}</p>
            </a>
        </div>
    </div>

    <script src="/static/bower_components/jquery/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>