<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PatientInfo</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/styles/paramedic.css" rel="stylesheet">
</head>
<body>

    {% include 'nav.html' %}
    <div class="container">
        <div class="form-inline" style="margin: 20px" >
            <div class="input-group" style="width: 100%">
                <input type="text" class="form-control" name="name" placeholder="use name or id to search" id="pname">
                <span class="input-group-btn">
                    <button class="btn btn-default" onclick="search()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>

        <ul class="list-group" style="max-height: 300px" id="patientlist">
            <li class="list-group-item nopatient">No result now</li>
        </ul>

        <p style="height: 80px"></p>
        <div class="split_line">Or use face photo to find</div>
        <center>
            <button class="btn btn-primary btn-lg" style="padding-left: 25px; padding-right: 25px">
                <label for="image_face">
                    <i class="fa fa-camera"></i>
                    <input id="image_face" type="file" onchange="sendImg(this)"/>
                </label>
            </button>
        </center>

        <script src="/static/bower_components/jquery/jquery.min.js"></script>
        <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/static/js/patient.js"></script>

    </div>


</body>
</html>